body {
    background-color: #0f0f0f;
    color: #ffffff;
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

h1 {
    font-size: 3rem;
    letter-spacing: 2px;
    margin-bottom: 10px;
    color: #00ffcc;
}

#url-input {
    padding: 12px 20px;
    width: 300px;
    border-radius: 25px;
    border: none;
    outline: none;
    background: #1e1e1e;
    color: white;
}

button {
    padding: 12px 25px;
    border-radius: 25px;
    border: none;
    background: #00ffcc;
    color: #000;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

button:hover {
    background: #00cca3;
}
